btop/btop.log
gtk-3.0/**
libreoffice/**
lyrics/**
mpd/database
mpd/playlists/
ncmpcpp/error.log
nvim/autoload/
nvim/plugged/
qalculate/
qBittorrent/
qutebrowser/quickmarks/
qutebrowser/bookmarks/
Signal/
tmux/plugins/
wiki-tui/
zsh/.zcompdump
QtProject.conf
